{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-console": 0,
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0,
    "no-return-assign": 0,
    "react/no-array-index-key": 0,
    "react/prefer-stateless-function": 0
  }
}
