@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  font-family: 'Roboto', sans-serif;
  .wrap {
    h1 {
      text-align: center;
      font-size: 4em;
      color: #f95759;
      padding: 20px;
    }
    .flex {
      width: 50vw;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .code {
        background-color: #f7f7f7;
        padding: 15px;
        line-height: 1.5;
        width: 63%;
        font-size: 16px;
        font-family: Inconsolata, sans-serif;
        text-align: center;
        a {
          color: #f95759;
          transition: 0.35s;
          margin: 0 5px;
          font-weight: bold;
          font-size: 17px;
          text-decoration: none;
          &:hover {
            color: #c34d4f;
          }
        }
      }
      .list {
        width: 100%;
        > ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.15);
          > li {
            width: 20vw;
            height: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            z-index: 1000;
            h3 {
              padding: 20px;
              user-select: none;
            }
            .info {
              display: flex;
              justify-content: center;
              div {
                cursor: pointer;
                position: relative;
                margin-left: 5px;
                &:hover {
                  &::before {
                    top: 2px;
                    opacity: 1;
                  }
                  svg {
                    color: #f95759;
                  }
                }
                &:active {
                  svg {
                    color: rgb(63, 63, 63);
                  }
                }
                &::before {
                  content: 'Copy!';
                  font-size: 12px;
                  position: absolute;
                  background: black;
                  color: white;
                  padding: 2px;
                  border-radius: 2px;
                  top: 10px;
                  opacity: 0;
                  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
              }
              p {
                line-height: 1.5;
                font-size: 16px;
                font-family: Inconsolata, sans-serif;
                padding: 15px 0;
              }
              bottom: 0;
              background-color: #fff;
            }

            font-size: 24px;
            text-align: center;
            background: #f7f7f7;
            color: #000;
            border: 2px solid #f95759;
            margin: 20px;
            overflow: hidden;
            &:nth-child(2) {
              position: relative;
            }
            #preloader {
              position: unset;
              width: 100%;
              height: 200px;
              margin: auto;
              opacity: 1;
              visibility: visible;
              > div {
                position: unset;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  body {
    .wrap {
      .flex {
        width: 80vw;
        .list {
          > ul {
            > li {
              width: 30vw;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 840px) {
  body {
    .wrap {
      .flex {
        width: 90vw;
        .list {
          > ul {
            > li {
              min-width: 80%;
              .info {
                flex-direction: column-reverse;
              }
            }
          }
        }
      }
    }
  }
}
